
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #384B70;
    color: aliceblue;
}

header {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: aliceblue;
}

.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
}

.wrap h3 {
    margin-right: 30px; 
}

.wrap ul {
    display: flex;
    gap: 20px; 
}
.underline-hover {
    position: relative;
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.underline-hover::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white; 
    transition: width 0.3s ease;
}

.underline-hover:hover::after {
    width: 100%; /* Full underline saat hover */
}
.sidebar {
    position: fixed;
    top: 0;
    left: -250px; 
    width: 250px;
    height: 100%;
    background-color: #c1c5c7;
    color: #fff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease; 
    z-index: 1000;
}

.sidebar.active {
    left: 0; /* Visible when active */
}

.sidebar .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #ff4d4d;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}
.open-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
}

